@page "/device/edit/{id:int}"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/device" style="color:#6372C4">Devices</a>  /  @id</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/device/@id"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <DeviceForm DeviceVM="DeviceVM" ecb_Save="Update" Type="Edit" @ref="Form"/>
</div>

    @code {

        [Inject] public IDeviceService DeviceService { get; set; }
        [Inject] public IJSRuntime JSRuntime { get; set; }
        [Inject] NavigationManager NavigationManager { get; set; }
        [Parameter] public int id { get; set; }

        DeviceViewModel DeviceVM { get; set; } = new DeviceViewModel();
        protected DeviceForm Form;

        protected override async Task OnInitializedAsync()
        {
            DeviceVM = await DeviceService.GetDevice(id);
        }

        private async Task Save()
        {
            await Form.ParentSubmit();
        }

        private async Task Update()
        {
            DeviceVM.Exception = null;
            DeviceViewModel updatedDeviceViewModel = await DeviceService.UpdateDevice(DeviceVM.Device.Id, DeviceVM);

            if (string.IsNullOrEmpty(updatedDeviceViewModel.Exception))
            {
                await JSRuntime.Notfication($"Devicement {DeviceVM.Device.Name} has been updated successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
                NavigationManager.NavigateTo($"/device/{updatedDeviceViewModel.Device.Id}");
            }
            else
            {
                await JSRuntime.Notfication(updatedDeviceViewModel.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
            }
        }
    }
