@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized Context="user">

        <AttAccountDropdown>
            <InitialTip><i class="far fa-user"></i>&ensp;@user.User.Identity.Name</InitialTip>
        </AttAccountDropdown>


    </Authorized>
    <NotAuthorized Context="user">

        <a href="/login" style="background-color:transparent; color:#343a40; font-size: 1.25rem;"> Log In</a> &ensp;
        <a href="/signup" style="background-color:transparent; color:#343a40; font-size: 1.25rem;">Register</a>

    </NotAuthorized>
</AuthorizeView>

@code{
    bool ShowIdentity;
    bool ShowAnynoms;

    public async Task Logout()
    {
        await ((pro_Server.Auth.JWTAuthenticationStateProvider)AuthenticationStateProvider).Logout();
        NavigationManager.NavigateTo("");
    }

}
