@inherits LayoutComponentBase


<div>
    <NavBootstrapMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>






@*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - MenuHorizontalApp
        </div>
    </footer>*@
