@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars

    <div class="container border p-5 mt-2">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 mt-1">
                <lable style="color:#6372C4">From</lable>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                <SfTimePicker TValue="DateTime?" @bind-Value="@End" Readonly="bol_ReadOnly" Placeholder="Select a time"></SfTimePicker>
            </div>
            <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 mt-2">
                <lable style="color:#6372C4">To</lable>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 mt-1">
                <lable style="color:#6372C4">From</lable>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                <SfTimePicker TValue="DateTime?" @bind-Value="@End" Readonly="bol_ReadOnly" Placeholder="Select a time"></SfTimePicker>
            </div>
            <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 mt-2">
                <lable style="color:#6372C4">To</lable>
            </div>
        </div>
    </div>

@code {
    [Parameter] public WorksysViewModel WorksysVM { get; set; }
    [Parameter] public bool bol_ReadOnly { get; set; }

    public DateTime? End { get; set; }
}
