@page "/employee"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;">Employees</span>
        </div>
        <div class="row pt-4">
            <a class="btn btn-primary" href="/employee/new" style="background-color:#6372C4"><i class="far fa-file"></i> New</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    @if (EmployeeVMs == null)
    {
        <p style="color:gray;">Loading ...</p>
    }
    else if (EmployeeVMs.Count() == 0)
    {
        <p style="color:gray;">No records to display.</p>
    }
    else
    {
        <SfGrid DataSource="@EmployeeVMs" AllowPaging="true" AllowSorting="true">
            <GridEvents RowSelected="RowSelectHandler" TValue="EmployeeViewModel"></GridEvents>
            <GridPageSettings PageSize="10" />
            <GridColumns>
                <GridColumn Field="Employee.Id" HeaderText="ID" Width="50" />
                <GridColumn Field="Employee.Name" HeaderText="Name" Width="200" />
            </GridColumns>
        </SfGrid>
    }
</div>


@code 
{
    [Inject] public IEmployeeService EmployeeService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }

    public List<EmployeeViewModel> EmployeeVMs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EmployeeVMs = (await EmployeeService.GetEmployees()).OrderByDescending(x => x.Employee.Id).ToList();
        if (EmployeeVMs.Count > 0 && !string.IsNullOrEmpty(EmployeeVMs[0].Exception))
        {
            await JSRuntime.Notfication(EmployeeVMs[0].Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }

    public void RowSelectHandler(RowSelectEventArgs<EmployeeViewModel> args)
    {
        NavigationManager.NavigateTo($"employee/{args.Data.Employee.Id}");
    }
}


 <style>
            .e-grid .e-headercelldiv {
                background-color: #F2F3F4;
                font-size: 16px;
            }

            .e-grid .e-rowcell {
                font-size: 14px;
            }
 </style>
